<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.back.base.dao.TLoginRoleMapper" >
  <resultMap id="BaseResultMap" type="com.back.base.model.TLoginRoleKey" >
    <id column="LOGINID" property="loginid" jdbcType="VARCHAR" />
    <id column="ROLEID" property="roleid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.back.base.model.TLoginRoleKey" >
    delete from tloginrole
    where LOGINID = #{loginid,jdbcType=VARCHAR}
      and ROLEID = #{roleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.back.base.model.TLoginRoleKey" >
    insert into tloginrole (LOGINID, ROLEID)
    values (#{loginid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.back.base.model.TLoginRoleKey" >
    insert into tloginrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginid != null" >
        LOGINID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginid != null" >
        #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
	<delete id="deleteByLoginIds">
		delete from tloginrole
		where LOGINID in
		<foreach collection="array" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>  
 
 	<select id="queryRoleIdByLoginId" resultType="java.lang.String" parameterType="java.lang.String">
		select
			ROLEID
		from TLOGINROLE
		where LOGINID = #{loginId,jdbcType=VARCHAR}
	</select>
  
</mapper>