
DIV {
	FONT-FAMILY: "lucida grande", helvetica, verdana, arial, sans-serif
}

H1 {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: "trebuchet ms", verdana, arial; PADDING-TOP: 10px
}
H2 {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: "trebuchet ms", verdana, arial; PADDING-TOP: 10px
}
H1 {
	FONT-SIZE: large
}
H2 {
	PADDING-LEFT: 0px; COLOR: #800; FONT-SIZE: large; FONT-WEIGHT: normal
}


