<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.back.base.controller;com.back.phone.controller" />


	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" /><!-- json转换器 -->
			</list>
		</property>
	</bean>

	<!-- Spring MVC拦截器配置 -->
	<mvc:interceptors>
        <mvc:interceptor>
			<mvc:mapping path="/back/*.do" />
			<bean class="com.back.base.interceptor.SessionInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/back/*.do" />
			<bean class="com.back.base.interceptor.HTMLInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/back/*.do" />
			<bean class="com.back.base.interceptor.SpringMVCInterceptor " />
		</mvc:interceptor>
    </mvc:interceptors>

	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp" />

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		
		<property name="maxInMemorySize">
			<value>10240</value>
		</property>
	</bean>
	<bean id="springBeanFactoryUtils" class="com.back.base.cache.SpringBeanFactoryUtils"/>
	<bean class="com.back.base.cache.DictCache" init-method="init"></bean>
	<bean class="com.back.base.cache.DefData" init-method="init"></bean>
</beans>